@{
    ViewBag.Title = "Home Page";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>Dashboard</h2>            
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            @using (Html.BeginForm("DownloadAllFacility", "Facility", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <br />
                    <div class="form-group">
                        <label class="control-label col-lg-2 col-md-2 col-sm-12">Region</label>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            @Html.DropDownList("Region", (SelectList)ViewBag.Regions, string.Empty, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <input type="submit" value="Filter By Region" class="btn btn-success" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <input type="submit" value="Claer" class="btn btn-light" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    </div>
