@{
    ViewBag.Title = "Home Page";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Dashboard</h2>
            <ul class="breadcrumb p-l-0 p-b-0 ">
                <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> sQuare</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-right">
            <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                <div class="sparkline" data-bar-color="#706bd1" data-bar-spacing="5" data-bar-width="2" data-height="25px" data-width="97%" data-type="bar"><canvas width="100" height="25" style="width: 100px; height: 25px; vertical-align: top; display: inline-block;"></canvas></div>
                <small>Page Views</small>
            </div>
            <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                <div class="sparkline" data-bar-color="#f9666e" data-bar-spacing="5" data-bar-width="2" data-height="25px" data-width="97%" data-type="bar"><canvas width="100" height="25" style="width: 100px; height: 25px; vertical-align: top; display: inline-block;"></canvas></div>
                <small>Visitors</small>
            </div>
            <button class="btn btn-primary btn-round btn-simple hidden-sm-down float-right m-l-10">Create New</button>
        </div>
    </div>
</div>